.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/AdventOfCode/v16/.suo
.vs/AdventOfCode/v16/Browse.VC.db
.vs/AdventOfCode/v16/ipch/AutoPCH/2f3178478810cc4b/MAIN.ipch
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
